<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="../components/verify.xhtml">

    <ui:param name="bean" value="#{dataElementWizard}"/>

    <ui:define name="afterDefinitions">

        <h2>#{msg.validation}</h2>

        <sa:valueDomain bean="#{dataElementWizard}" readonly="true" detailPage="/user/shortDetail.xhtml?readonly=true"/>

    </ui:define>
</ui:composition>
