<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="../components/default.xhtml">

    <f:metadata>
        <f:viewAction action="#{draftsBean.initialize}"/>
    </f:metadata>

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div class="fadein content">

            <div class="clearfix">
                    <div class="col-xs-12">
                        <h2 class="col-xs-9 wiztitle">#{msg.myDrafts}</h2>

                        <h:panelGroup styleClass="col-xs-3 btn-group" layout="block">

                            <h:panelGroup styleClass="dropdown contextButtons" layout="block">
                                <h:form id="contextForm">
                                    <h:commandButton styleClass="btn btn-default" action="#{draftsBean.release()}" value="#{msg.releaseAllMarked}" />
                                </h:form>
                            </h:panelGroup>

                        </h:panelGroup>
                    </div>
                </div>

            <h:form styleClass="form-horizontal">
                <h:panelGroup layout="block" id="items" styleClass="col-xs-12 content">
                    <div id="elements">
                        <sa:elements list="#{draftsBean.elements}" detailLink="true" collapsible="true" starrable="true"
                            emptyText="#{msg.noDrafts}" releasable="true"/>
                    </div>
                </h:panelGroup>
            </h:form>

            <h:form id="starForm">
                <h:inputText id="urn" value="#{userBean.starItem}" styleClass="inputStarItemUrn" style="display: none;" />
                <h:commandButton action="#{userBean.toggle}" styleClass="inputStarItemBtn" style="display: none;" >
                    <f:ajax execute="@form"/>
                </h:commandButton>
                <h:inputText id="markUrn" value="#{draftsBean.markItem}" styleClass="inputMarkItemUrn" style="display: none;" />
                <h:commandButton action="#{draftsBean.toggle}" styleClass="inputMarkItemBtn" style="display: none;" >
                    <f:ajax execute="@form"/>
                </h:commandButton>
            </h:form>

        </div>

    </ui:define>

</ui:composition>
