<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <h:link outcome="/admin/index" styleClass="navbar-brand">
                    <h:graphicImage value="#{resource['webjar:samply/images/osse.svg']}" rendered="#{requestBean.isOsse()}" styleClass="logo"/>
                    <h:outputText value="#{msg.samply}" rendered="#{! requestBean.isOsse()}"/>

                    <span class="projectName">MDR Admin</span>
                </h:link>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="#{view.viewId == '/admin/index.xhtml' ? 'active' : ''}">
                        <h:link outcome="/admin/index">
                            #{msg.namespaces}
                        </h:link>
                    </li>
                    <li class="#{view.viewId == '/admin/users.xhtml' ? 'active' : ''}">
                        <h:link outcome="/admin/users">
                            #{msg.users}
                        </h:link>
                    </li>
                    <li class="#{view.viewId == '/admin/config.xhtml' ? 'active' : ''}">
                        <h:link outcome="/admin/config">
                            #{msg.config}
                        </h:link>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="pull-right">
                        <h:link outcome="/admin/index">Version #{applicationBean.version}, DB #{applicationBean.DBVersion}, #{applicationBean.JSFTitle} #{applicationBean.JSFVersion}</h:link>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</ui:composition>
