<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
    <composite:attribute name="element" required="true"/>
    <composite:attribute name="detailLink" default="false"/>
    <composite:attribute name="draggable" default="false"/>
    <composite:attribute name="sortable" default="false"/>
    <composite:attribute name="removable" default="false"/>
    <composite:attribute name="starrable" default="false"/>
    <composite:attribute name="collapsible" default="false"/>
    <composite:attribute name="checkable" default="false"/>
    <composite:attribute name="detailPage" default="/shortDetail.xhtml"/>
    <composite:attribute name="valueDomain" default="null"/>
    <composite:attribute name="readonly" default="true"/>
    <composite:attribute name="releasable" default="false"/>
</composite:interface>

<composite:implementation>
    <div class="col-xs-12" draggable="true">
        <h:panelGroup styleClass="formItem formItem-#{cc.attrs.element.elementType} col-xs-12 #{cc.attrs.draggable == 'true' ? 'draggable' : ''}
                #{(cc.attrs.valueDomain != 'null' and cc.attrs.valueDomain.catalog == cc.attrs.element.urn) ? 'invert' : ''}"
                    layout="block" pt:draggable="true">

            <h:panelGroup styleClass="col-xs-1 vCenter" rendered="#{cc.attrs.collapsible}">
                <button type="button" onclick="collapseItem(this, '#{cc.attrs.detailPage}');" class="btn btn-default">
                    <i class="fa fa-angle-down"/>
                </button>
            </h:panelGroup>

            <h:link styleClass="detailLink col-xs-#{12 - (cc.attrs.starrable ? 1 : 0) - (cc.attrs.collapsible ? 1 : 0) - (cc.attrs.releasable ? 1 : 0)} vCenter"
                    disabled="#{! cc.attrs.detailLink}" outcome="/detail">
                <f:param name="urn" value="#{cc.attrs.element.urn}"/>

                <h:panelGroup styleClass="dropdown col-xs-1 vCenter" rendered="#{cc.attrs.checkable and cc.attrs.element.elementType == 'code'}" layout="block">
                    <ui:fragment rendered="#{cc.attrs.checkable and !cc.attrs.readonly}">
                        <button class="btn btn-default dropdown-toggle" type="button" id="context-btn" data-toggle="dropdown">
                            <i class="fa #{cc.attrs.valueDomain.getState(cc.attrs.element.urn)} elementCheckState" style="font-size: 2em;"/>
                        </button>
                    </ui:fragment>

                    <ui:fragment rendered="#{! (cc.attrs.checkable and !cc.attrs.readonly)}">
                        <i class="fa #{cc.attrs.valueDomain.getState(cc.attrs.element.urn)} elementCheckState" style="font-size: 2em;"/>
                    </ui:fragment>

                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="context-btn">
                        <li role="presentation">
                            <a onclick="deselectAll(this);">#{msg.deselectAll}</a>
                        </li>
                        <li role="presentation">
                            <a onclick="selectAll(this);">#{msg.selectAll}</a>
                        </li>
                    </ul>
                </h:panelGroup>

                <h:panelGroup styleClass="col-xs-1 vCenter" rendered="#{cc.attrs.sortable}">
                    <i class="fa fa-arrows-v clickableIcon"></i>
                </h:panelGroup>

                <h:panelGroup styleClass="col-xs-#{12 - (cc.attrs.sortable ? 1 : 0) - (cc.attrs.removable ? 1 : 0) - ((cc.attrs.checkable and cc.attrs.element.elementType == 'code') ? 1 : 0)} vCenter">
                    <span class="designation">#{cc.attrs.element.designation}</span>
                    <span class="urn">#{cc.attrs.element.urn}</span>
                    <span class="definition">#{cc.attrs.element.definition}</span>
                </h:panelGroup>

                <h:panelGroup styleClass="col-xs-1 vCenter" rendered="#{cc.attrs.removable}">
                    <button onclick="removeItem(this);" class="btn btn-default" type="button">
                        <i class="fa fa-trash-o text-warning"/>
                    </button>
                </h:panelGroup>
            </h:link>

            <h:panelGroup styleClass="col-xs-1 vCenter" rendered="#{cc.attrs.releasable}">
                <button type="button" onclick="releaseItem(this);" class="btn btn-default">
                    <i class="fa fa-fw #{draftsBean.isMarked(cc.attrs.element) == true ? 'fa-check-square-o' : 'fa-square-o'}"/>
                </button>
            </h:panelGroup>

            <h:panelGroup styleClass="col-xs-1 vCenter" rendered="#{cc.attrs.starrable}">
                <button type="button" onclick="toggleItem(this);" class="btn btn-default">
                    <i class="starItem fa fa-star #{userBean.isStarred(cc.attrs.element) == true ? 'text-primary' : 'text-muted'}"/>
                </button>
            </h:panelGroup>
        </h:panelGroup>

        <div class="col-xs-12 collapse elementDetail details">

        </div>
    </div>
</composite:implementation>

</html>
