<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<composite:interface>
    <composite:attribute name="bean"/>
    <composite:attribute name="readonly" default="false"/>
    <composite:attribute name="change" default="false"/>
</composite:interface>

<composite:implementation>
    <ui:fragment rendered="#{! cc.attrs.readonly}">

        <ui:repeat var="v" value="#{cc.attrs.bean.permittedValues}">
            <div class="well">
                <div class="form-group">
                    <div class="form-group">
                        <h:outputLabel value="#{msg.permittedValue}" for="permittedValue" styleClass="col-xs-2 control-label"/>

                        <div class="col-xs-8 #{cc.attrs.readonly or cc.attrs.change ? 'form-control-static' : ''}">
                            <h:outputText rendered="#{cc.attrs.readonly or cc.attrs.change}" value="#{v.value}"/>
                            <h:inputText id="permittedValue" rendered="#{!(cc.attrs.readonly or cc.attrs.change)}" styleClass="form-control" value="#{v.value}"/>
                        </div>

                        <h:panelGroup styleClass="col-xs-2" layout="block" rendered="#{cc.attrs.readonly != 'true'}">
                            <h:commandButton rendered="#{!(cc.attrs.readonly or cc.attrs.change)}" styleClass="btn btn-default" value="#{msg.remove}" action="#{cc.attrs.bean.remove(v)}">
                                <f:ajax render="@form" execute="@form"/>
                            </h:commandButton>
                        </h:panelGroup>
                    </div>

                    <sa:definitions bean="#{v}" readonly="#{cc.attrs.readonly}"/>
                </div>
            </div>
        </ui:repeat>

        <h:commandButton id="addBtn" styleClass="btn btn-default" action="#{dataElementWizard.addPermittedValue}"
                rendered="#{! cc.attrs.readonly and ! cc.attrs.change}" value="#{msg.addPermittedValue}">
            <f:ajax render="@form :scrollFragment" execute="@form"/>
        </h:commandButton>

    </ui:fragment>

    <ui:fragment rendered="#{cc.attrs.readonly}">
        <table class="table table-striped table-hover col-xs-12">
            <thead>
                <tr>
                    <th scope="col" class="col-xs-3">#{msg.permittedValue}</th>
                    <th scope="col" class="col-xs-1">#{msg.language}</th>
                    <th scope="col" class="col-xs-4">#{msg.designation}</th>
                    <th scope="col" class="col-xs-4">#{msg.definition}</th>
                </tr>
            </thead>

            <tbody>
                <ui:repeat var="p" value="#{cc.attrs.bean.permittedValues}">
                    <ui:repeat var="d" value="#{p.definitions}" varStatus="index">
                        <tr class="tableVCenter">
                            <ui:fragment rendered="#{index.index == 0}">
                                <td rowspan="#{p.definitions.size()}">
                                    #{p.value}
                                </td>
                            </ui:fragment>
                            <td>
                                #{d.language}
                            </td>
                            <td>
                                #{d.designation}
                            </td>
                            <td>
                                #{d.definition}
                            </td>
                        </tr>
                    </ui:repeat>
                </ui:repeat>
            </tbody>
        </table>
    </ui:fragment>
</composite:implementation>

</html>
