<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<composite:interface>
    <composite:attribute name="bean"/>
    <composite:attribute name="readonly" default="false"/>
    <composite:attribute name="change" default="false"/>
    <composite:attribute name="detailPage" default="/shortDetail.xhtml"/>
</composite:interface>

<composite:implementation>
    <div class="well">

        <div class="form-group">
            <h:outputLabel value="#{msg.validationType}" for="datatype" styleClass="col-xs-2 control-label"/>

            <div class="col-xs-8">
                <h:selectOneMenu id="datatype" styleClass="form-control select2" value="#{cc.attrs.bean.valueDomain.datatype}"
                        disabled="#{cc.attrs.readonly or cc.attrs.change}">
                    <f:selectItems var="i" value="#{mdr.datatypeFields}" itemValue="#{i}" itemLabel="#{msg[i]}"/>
                    <f:ajax execute="@form" render="@form" event="change"/>
                </h:selectOneMenu>
            </div>
        </div>

        <!-- ################## -->
        <!-- Format for Strings -->
        <!-- ################## -->

        <h:panelGroup rendered="#{cc.attrs.bean.valueDomain.datatype == 'STRING'}" layout="block">
            <div class="form-group" >
                <h:outputLabel value="#{msg.maxLength}" for="max-length" styleClass="col-xs-2 control-label"/>

                <h:panelGroup styleClass="col-xs-8 input-group" layout="block">
                    <span class="input-group-addon">
                        <h:selectBooleanCheckbox id="max-length" value="#{cc.attrs.bean.valueDomain.useMaxLength}" disabled="#{cc.attrs.readonly}">
                            <f:ajax execute="@form" render="@form" />
                        </h:selectBooleanCheckbox>
                    </span>

                    <h:inputText styleClass="form-control" value="#{cc.attrs.bean.valueDomain.maxLength}"
                            disabled="#{! cc.attrs.bean.valueDomain.useMaxLength || cc.attrs.readonly}" pt:placeholder="#{msg.maxLengthPlaceholder}">
                        <f:convertNumber/>
                    </h:inputText>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel value="#{msg.useRegex}" for="use-regex" styleClass="col-xs-2 control-label" />

                <h:panelGroup layout="block" styleClass="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox id="use-regex" value="#{cc.attrs.bean.valueDomain.useRegex}" disabled="#{cc.attrs.readonly}">
                                <f:ajax execute="@form" render="@form" />
                            </h:selectBooleanCheckbox>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <h:panelGroup layout="block" styleClass="form-group" rendered="#{cc.attrs.bean.valueDomain.useRegex}">
                <h:outputLabel value="#{msg.regex}" for="format" styleClass="col-xs-2 control-label"/>

                <h:panelGroup styleClass="col-xs-8 #{cc.attrs.readonly ? 'form-control-static' : ''}" layout="block">
                    <h:outputText rendered="#{cc.attrs.readonly}" value="#{cc.attrs.bean.valueDomain.format}"/>
                    <h:inputText id="format" rendered="#{! cc.attrs.readonly}" styleClass="form-control" value="#{cc.attrs.bean.valueDomain.format}"
                            pt:placeholder="#{msg.regexPlaceholder}"/>
                </h:panelGroup>
            </h:panelGroup>

        </h:panelGroup>

        <!-- ##### -->
        <!-- Range -->
        <!-- ##### -->

        <h:panelGroup rendered="#{cc.attrs.bean.valueDomain.datatype == 'INTEGER' or cc.attrs.bean.valueDomain.datatype == 'FLOAT'}">

            <ui:fragment rendered="#{! cc.attrs.readonly}">

                <h:panelGroup styleClass="form-group" layout="block">
                    <h:outputLabel for="within-range" value="#{msg.withinRange}" styleClass="col-xs-2 control-label" />

                    <h:panelGroup layout="block" styleClass="col-xs-8">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox id="within-range" value="#{cc.attrs.bean.valueDomain.withinRange}" disabled="#{cc.attrs.readonly}">
                                    <f:ajax execute="@form" render="@form" />
                                </h:selectBooleanCheckbox>
                            </label>
                        </div>
                    </h:panelGroup>
                </h:panelGroup>

                <h:panelGroup styleClass="form-group" layout="block" rendered="#{cc.attrs.bean.valueDomain.withinRange}">
                    <h:outputLabel for="integer-range" value="#{msg.range}" styleClass="col-xs-2 control-label"/>

                    <h:panelGroup styleClass="col-xs-8 input-group" layout="block">
                        <span class="input-group-addon">
                            <h:selectBooleanCheckbox id="integer-range" value="#{cc.attrs.bean.valueDomain.useRangeFrom}" disabled="#{cc.attrs.readonly}">
                                <f:ajax execute="@form" render="@form" />
                            </h:selectBooleanCheckbox>
                        </span>

                        <h:inputText styleClass="form-control" value="#{cc.attrs.bean.valueDomain.rangeFrom}"
                                style="width: 50%;" disabled="#{(! cc.attrs.bean.valueDomain.useRangeFrom) or cc.attrs.readonly}">
                            <f:convertNumber groupingUsed="false"/>
                        </h:inputText>
                        <h:inputText styleClass="form-control" value="#{cc.attrs.bean.valueDomain.rangeTo}"
                                style="width: 50%;" disabled="#{(! cc.attrs.bean.valueDomain.useRangeTo) or cc.attrs.readonly}">
                            <f:convertNumber groupingUsed="false"/>
                        </h:inputText>

                        <span class="input-group-addon">
                            <h:selectBooleanCheckbox value="#{cc.attrs.bean.valueDomain.useRangeTo}" disabled="#{cc.attrs.readonly}">
                                <f:ajax execute="@form" render="@form" />
                            </h:selectBooleanCheckbox>
                        </span>
                    </h:panelGroup>
                </h:panelGroup>

            </ui:fragment>

            <ui:fragment rendered="#{cc.attrs.readonly and cc.attrs.bean.valueDomain.withinRange}">

                <h:panelGroup styleClass="form-group" layout="block">
                    <h:outputLabel for="num-range" value="#{msg.numRange}" styleClass="col-xs-2 control-label" />

                    <h:panelGroup layout="block" styleClass="col-xs-8 form-control-static">
                        <h:outputText value="#{cc.attrs.bean.valueDomain.numericRange}" id="num-range" />
                    </h:panelGroup>
                </h:panelGroup>

            </ui:fragment>

            <div class="form-group">
                <h:outputLabel for="unitOfMeasure" value="#{msg.unitOfMeasure}" styleClass="col-xs-2 control-label"/>

                <h:panelGroup styleClass="col-xs-8 #{cc.attrs.readonly ? 'form-control-static' : ''}" layout="block">
                    <h:outputText rendered="#{cc.attrs.readonly}" value="#{cc.attrs.bean.valueDomain.unitOfMeasure}"/>
                    <h:inputText id="unitOfMeasure" rendered="#{! cc.attrs.readonly}" styleClass="form-control" value="#{cc.attrs.bean.valueDomain.unitOfMeasure}"/>
                </h:panelGroup>
            </div>

        </h:panelGroup>

        <!-- ########### -->
        <!-- Date Format -->
        <!-- ########### -->

        <h:panelGroup rendered="#{cc.attrs.bean.valueDomain.datatype == 'DATE' or cc.attrs.bean.valueDomain.datatype == 'DATETIME'}" layout="block">
            <div class="form-group">
                <h:outputLabel for="date-representation" value="#{msg.dateRepresentation}" styleClass="col-xs-2 control-label"/>

                <h:panelGroup layout="block" styleClass="col-xs-8">
                    <h:selectOneMenu id="date-representation" styleClass="form-control select2" value="#{cc.attrs.bean.valueDomain.dateRepresentation}"
                            disabled="#{cc.attrs.readonly}">
                        <f:selectItems var="i" value="#{mdr.dateRepresentations}" itemValue="#{i}" itemLabel="#{msg[i]}"/>
                        <f:ajax execute="@form" render="@form" />
                    </h:selectOneMenu>
                </h:panelGroup>
            </div>

            <h:panelGroup styleClass="form-group" layout="block"
                    rendered="#{cc.attrs.bean.valueDomain.datatype == 'DATE' and cc.attrs.bean.valueDomain.dateRepresentation != 'LOCAL_DATE'}">
                <h:outputLabel for="with-days" value="#{msg.withDays}" styleClass="col-xs-2 control-label" />

                <h:panelGroup layout="block" styleClass="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox id="with-days" value="#{cc.attrs.bean.valueDomain.withDays}"
                                    disabled="#{cc.attrs.readonly}">
                                <f:ajax execute="@form" render="@form" />
                            </h:selectBooleanCheckbox>
                        </label>
                    </div>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>

        <!-- ########### -->
        <!-- Time Format -->
        <!-- ########### -->

        <h:panelGroup rendered="#{cc.attrs.bean.valueDomain.datatype == 'DATETIME' or cc.attrs.bean.valueDomain.datatype == 'TIME'}" layout="block">
            <div class="form-group">
                <h:outputLabel for="time-representation" value="#{msg.timeRepresentation}" styleClass="col-xs-2 control-label"/>

                <h:panelGroup layout="block" styleClass="col-xs-8">
                    <h:selectOneMenu id="time-representation" styleClass="form-control select2" value="#{cc.attrs.bean.valueDomain.timeRepresentation}"
                            disabled="#{cc.attrs.readonly}">
                        <f:selectItems var="i" value="#{mdr.timeRepresentations}" itemValue="#{i}" itemLabel="#{msg[i]}"/>
                        <f:ajax execute="@form" render="@form" />
                    </h:selectOneMenu>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="with-seconds" value="#{msg.withSeconds}" styleClass="col-xs-2 control-label" />

                <h:panelGroup layout="block" styleClass="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox id="with-seconds" value="#{cc.attrs.bean.valueDomain.withSeconds}" disabled="#{cc.attrs.readonly}">
                                <f:ajax execute="@form" render="@form" />
                            </h:selectBooleanCheckbox>
                        </label>
                    </div>
                </h:panelGroup>
            </div>
        </h:panelGroup>

        <h:panelGroup rendered="#{cc.attrs.bean.valueDomain.datatype == 'CATALOG'}" layout="block" styleClass="clearfix">
            <ui:fragment rendered="#{! cc.attrs.readonly}">
                <h3>#{msg.selectCatalog}</h3>

                <sa:elements list="#{cc.attrs.bean.availableCatalogs}" collapsible="false" detailLink="false" draggable="false" removable="false"
                    sortable="false" starrable="false" bean="#{cc.attrs.bean}" valueDomain="#{cc.attrs.bean.valueDomain}"/>

                <h:inputText styleClass="catalogURN" value="#{cc.attrs.bean.valueDomain.catalog}" style="display: none;" />

                <h:outputScript>
                    activateSelectableCatalog();
                </h:outputScript>
            </ui:fragment>

            <sa:element element="#{cc.attrs.bean.valueDomain.catalogRoot.element}" rendered="#{cc.attrs.readonly}"/>
        </h:panelGroup>
    </div>

    <!-- ################################# -->
    <!--  List of subcodes in the catalog  -->
    <!-- ################################# -->

    <h:panelGroup rendered="#{cc.attrs.bean.valueDomain.datatype == 'CATALOG' and cc.attrs.readonly}" layout="block" styleClass="well clearfix">
        <sa:elements list="#{cc.attrs.bean.valueDomain.subCodes}" valueDomain="#{cc.attrs.bean.valueDomain}" checkable="true" collapsible="true"
            draggable="false" detailLink="false" removable="false" sortable="false" starrable="false" detailPage="#{cc.attrs.detailPage}"
            readonly="#{cc.attrs.readonly}"/>
    </h:panelGroup>

    <!-- ######################### -->
    <!--  List of permitted Values -->
    <!-- ######################### -->

    <h:panelGroup rendered="#{cc.attrs.bean.valueDomain.datatype == 'LIST'}" layout="block">
        <sa:permittedValues bean="#{cc.attrs.bean.valueDomain}" readonly="#{cc.attrs.readonly}" change="#{cc.attrs.change}"/>
    </h:panelGroup>
</composite:implementation>

</html>
