<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <h:panelGroup styleClass="container" layout="block" id="navbar">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <h:link outcome="/index" styleClass="navbar-brand">
                    <h:graphicImage alt="OSSE" value="#{resource['webjar:samply/images/osse.svg']}" rendered="#{requestBean.isOsse()}" styleClass="logo"/>
                    <h:outputText value="#{msg.samply}" rendered="#{! requestBean.isOsse()}"/>

                    <span class="projectName">MDR</span>
                </h:link>
            </div>

            <h:form>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="#{view.viewId == '/index.xhtml' ? 'active' : ''}">
                            <h:link outcome="/index">
                                #{msg.home}
                            </h:link>
                        </li>

                        <ui:fragment rendered="#{userBean.loginValid and (userBean.writableNamespaces.size() > 0 or userBean.canCreateNamespace)}">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">#{msg.createNew} <span class="caret"></span></a>

                                <ul class="dropdown-menu" role="menu">

                                    <ui:fragment rendered="#{userBean.writableNamespaces.size() > 0}">
                                        <li	class="#{view.viewId == '/user/elementdefinitions.xhtml' or dataElementWizard.started ? 'active' : ''}">
                                            <h:commandLink action="#{dataElementWizard.start}" value="#{msg.newElement}" />
                                        </li>
                                        <li	class="#{view.viewId == '/user/groupdefinitions.xhtml' or dataElementGroupWizard.started ? 'active' : ''}">
                                            <h:commandLink action="#{dataElementGroupWizard.start}" value="#{msg.newGroup}" />
                                        </li>
                                        <li	class="#{view.viewId == '/user/recorddefinitions.xhtml' or recordWizard.started ? 'active' : ''}">
                                            <h:commandLink action="#{recordWizard.start}" value="#{msg.newRecord}" />
                                        </li>

                                        <ui:fragment rendered="#{userBean.canCreateCatalogs}">
                                            <li class="#{view.viewId == '/user/uploadcatalog.xhtml' or catalogWizard.started ? 'active' : ''}">
                                                <h:commandLink action="#{catalogWizard.start}" value="#{msg.uploadCatalog}" />
                                            </li>
                                        </ui:fragment>
                                    </ui:fragment>

                                    <ui:fragment rendered="#{userBean.canCreateNamespace}">
                                        <li	class="#{view.viewId == '/user/namespacedefinitions.xhtml' or namespaceWizard.started ? 'active' : ''}">
                                            <h:commandLink action="#{namespaceWizard.start}" value="#{msg.newNamespace}" />
                                        </li>
                                    </ui:fragment>

                                    <ui:fragment rendered="#{userBean.canExportImport}">
                                        <li class="#{view.viewId == '/user/import.xhtml'}">
                                            <h:commandLink action="#{importWizard.initialize()}" value="#{msg.importFile}" />
                                        </li>
                                    </ui:fragment>

                                    <ui:fragment rendered="#{userBean.writableNamespaces.size() > 1}">
                                        <li class="divider"/>
                                        <li role="presentation" class="dropdown-header">
                                            #{msg.selectNamespace}
                                        </li>
                                        <ui:repeat var="ns" value="#{userBean.writableNamespaces}">
                                            <li class="#{userBean.isSelected(ns) ? 'active' : ''}">
                                                <h:commandLink action="#{userBean.selectNamespace(ns)}" value="#{ns.shortLabel}">
                                                    <f:ajax render="@form"/>
                                                </h:commandLink>
                                            </li>
                                        </ui:repeat>
                                    </ui:fragment>

                                </ul>
                            </li>
                        </ui:fragment>

                        <ui:fragment rendered="#{userBean.loginValid}">
                            <li class="#{view.viewId == '/user/mydrafts.xhtml' ? 'active' : ''}">
                                <h:link outcome="/user/mydrafts.xhtml">#{msg.myDrafts}</h:link>
                            </li>
                        </ui:fragment>

                        <ui:fragment rendered="#{userBean.readableNamespaces.size() > 0}">
                            <li class="#{view.viewId == '/view.xhtml' ? 'active' : ''}">
                                <h:link outcome="/view.xhtml">#{msg.view}</h:link>
                            </li>
                        </ui:fragment>

                        <li class="#{view.viewId == '/search.xhtml' ? 'active' : ''}">
                            <h:link outcome="/search.xhtml">#{msg.search}</h:link>
                        </li>

                        <ui:fragment rendered="#{userBean.compare.size() > 1}">
                            <li class="#{view.viewId == '/compare.xhtml' ? 'active' : ''}">
                                <h:link outcome="/compare.xhtml">#{msg.compare}</h:link>
                            </li>
                        </ui:fragment>

                        <ui:fragment rendered="#{userBean.export.size() > 0 || userBean.exportNamespace.size() > 0}">
                            <li class="#{view.viewId == '/export.xhtml' ? 'active' : ''}">
                                <h:link outcome="/export.xhtml">#{msg.export}</h:link>
                            </li>
                        </ui:fragment>
                    </ul>

                    <ul class="nav navbar-nav navbar-right navbar-user">
                        <ui:fragment rendered="#{! userBean.loginValid}">
                            <li class="pull-right">
                                <a href="#{userBean.authenticationUrl}">#{msg.login}</a>
                            </li>
                        </ui:fragment>

                        <ui:fragment rendered="#{userBean.loginValid}">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-user fa-fw userIcon"/>
                                    #{userBean.realName.trim().length() > 0 ? userBean.realName : userBean.username}
                                </a>
                                <ul id="userPanel" class="dropdown-menu">
                                    <li>
                                        <h:commandLink action="#{userBean.logout}">
                                            <i class="fa fa-sign-out"/> Logout
                                        </h:commandLink>
                                    </li>
                                </ul>
                            </li>
                        </ui:fragment>
                    </ul>
                </div>
            </h:form>
        </h:panelGroup>
    </nav>
</ui:composition>
