<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:sa="http://java.sun.com/jsf/composite/samply"
    template="components/default.xhtml">

<!--
    This view compares two or more selected groups and shows all dataelements in this group in a table -->

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div class="fadein">

            <div class="clearfix">
                <div class="col-xs-12">
                    <h1 class="col-xs-9 wiztitle">
                        #{msg.comparison}
                    </h1>

                    <div class="col-xs-3 btn-group">
                        <h:panelGroup styleClass="dropdown contextButtons" layout="block">
                            <h:form id="contextForm">
                                <h:commandLink action="#{userBean.clearCompare}" styleClass="btn btn-default">
                                    <i class="fa fa-times fa-fw"></i>
                                </h:commandLink>
                            </h:form>
                        </h:panelGroup>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover col-xs-12">
                <thead>
                    <tr>
                        <th scope="col"></th>

                        <ui:repeat value="#{compareBean.list}" var="group">
                            <th scope="col">#{group.designation}</th>
                        </ui:repeat>
                    </tr>
                </thead>

                <tbody>
                    <ui:repeat var="element" value="#{compareBean.elements}">
                    <tr class="#{compareBean.status(element)} tableVCenter">
                        <td>
                             #{element.designation}
                        </td>

                        <ui:repeat value="#{compareBean.list}" var="group">
                            <th scope="col"><i class="fa #{compareBean.contains(element, group) ? 'fa-check' : 'fa-times'} fa-fw"></i></th>
                        </ui:repeat>
                    </tr>
                    </ui:repeat>
                </tbody>
            </table>

        </div>

    </ui:define>

</ui:composition>
